CompileFlags:
  CompilationDatabase: .
  Add:
    - -Iinc
    - -IDaisySP/Source
    - -IDaisySP/Source/daisysp
    - -IlibDaisy
    - -IlibDaisy/src
    - -IlibDaisy/src/sys
    - -IlibDaisy/src/usbd
    - -IlibDaisy/src/usbh
    - -IlibDaisy/Drivers/CMSIS_5/CMSIS/Core/Include
    - -IlibDaisy/Drivers/CMSIS-DSP/Include
    - -IlibDaisy/Drivers/CMSIS-Device/ST/STM32H7xx/Include
    - -IlibDaisy/Drivers/STM32H7xx_HAL_Driver/Inc
    - -IlibDaisy/Drivers/STM32H7xx_HAL_Driver/Inc/Legacy
    - -IlibDaisy/Middlewares/ST/STM32_USB_Device_Library/Core/Inc
    - -IlibDaisy/Middlewares/ST/STM32_USB_Host_Library/Core/Inc
    - -IlibDaisy/Middlewares/ST/STM32_USB_Host_Library/Class/MSC/Inc
    - -IlibDaisy/Middlewares/ST/STM32_USB_Host_Library/Class/MIDI/Inc
    - -IlibDaisy/Middlewares/Third_Party/FatFs/src
    - -I/opt/homebrew/include
    - -I/usr/local/include
    - -DCORE_CM7
    - -DSTM32H750xx
    - -DSTM32H750IB
    - -DARM_MATH_CM7
    - -DUSE_HAL_DRIVER
    - -DUSE_FULL_LL_DRIVER
    - -DHSE_VALUE=16000000
    - -DUSE_FATFS
    - -DFILEIO_ENABLE_FATFS_READER
    - -std=gnu++14
    - -Wno-unknown-attributes
    - -Wno-missing-attributes
    - -Wno-register

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build
  Exclude:
    - "**/phase_one_controller.*"

